.header{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom right, rgba(208, 210, 208, 0.3), rgba(181, 186, 181, 0.2)), url("../../public/img/code.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #413D45;
    background-size:cover;
    background-repeat: no-repeat;

}

.header__h1{
    font-size: 12rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color:#CC6666;
    margin-left: 10rem;
}

.header__h2{
    font-size: 6rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color:#CC6666;
    margin-left: 11rem;
}
