.section{
    padding-bottom: 10rem;
}

.section__header{
    padding: 4rem;
    display: flex;
    justify-content: center;
}

.section__h2{
    font-size: 6rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color:#CC6666;
}

.section__wrapper{
    display: flex;
    /* display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr; */
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}